[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
pyinstaller = "*"
mypy = "*"
pytest = "*"

[packages]
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true